.center-block {
  display: table;
  margin: 0 auto;
}

.robo {
    font-family: 'Roboto', sans-serif !important;
}

.lato {
    font-family: 'Lato', sans-serif;
}



/*Navbar Styles*/

.navbar-cont {
    opacity: .8;
}

a.nav-link {
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

/*Header*/
.header {
    color: #fff;
    background: #009fc2;
    color: #fff;
}

.header h1, .header h5 {
    margin: auto;
    margin-bottom: .5em;
    text-align: center;
}

.logo1 {
    width: 20%;
    min-width: 114px;
    min-height: 111px;

}

/* Section 1 */

.section1 {
    background: url('../assets/house.jpg')  no-repeat fixed center;
    background-size: cover;
    
}

/* Quote Form */
.quote-border {
    background: #009fc2;
    opacity: .9;
    border-radius: 5px 5px 0 0;
    height: 15px;
    margin-top: 10em;
}
.quote-form {
    text-align: center;
    background: #fff;
    opacity: .9;
    border-radius: 0 0 5px 5px;
    margin-bottom: 10em;
    padding: 2em;
}

/*Footer*/

.footer {
    color: #E6E6E6;
}
/*testing styles*/


.test2{
        height:50em;
}

.lb {
        background: #009fc2;
}

.db {
        background: #00445C;
}

.yw {
        background: #E4D546;
}

.yw-text {
        color: #E4D546;
}
